.cont {
  width: 60%;
  background: #fff;
  margin: 30px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  min-height: 120vh;
}

.ql-toolbar.ql-snow {
  padding: 15px 0 !important;
  display: flex;
  gap: 2rem;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #f5f5f5;
  border: none !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
